table {
	border-collapse: collapse;
	margin: 25px 0;
	margin-bottom: var(--margin-big);
	font-size: 0.9rem;
	min-width: 400px;
	width: 100%;
	table-layout: fixed;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td,
th {
	padding: 12px 15px;
	text-align: center;
}

td {
	font-size: var(--font-small-medium);
	align-items: center;
}

th {
	font-size: var(--font-small-size);
}

thead tr {
	background-color: var(--main-dark);
	color: #ffffff;
	text-align: left;
}

tbody tr {
	border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

tbody tr:nth-of-type(odd) {
	background-color: white;
}

tbody tr:last-of-type {
	border-bottom: 2px solid var(--main-dark);
}

th {
	border-top: none;
}

td:first-child,
th:first-child {
	border-left: none;
}

th:first-of-type {
	border-top-left-radius: 10px;
}

th:last-of-type {
	border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
	border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
	border-bottom-right-radius: 10px;
}

th.long {
	width: 10%;
}

th.short {
	width: 2%;
}

th.medium {
	width: 4%;
}

/* Add a hover effect to the rows of the table */
table tbody tr:hover {
	background-color: #00987a4b;
}
